<div id="headerContent">
    <div>
        <p>Viaja!</p>
        <p>Descubre lugares maravillosos!</p>
        <a href="#viajes" class="yellow-button">ver destinos</a>
    </div>
</div>

<div id="viajes">
    {{#each ciudades}}
    <div>
        <a href="#">
            <div class="viaje">
                <div>
                    <img src="{{this.img}}" alt="{{this.ciudad}}">
                    <div>Save {{this.oferta}}$ pay only</div>
                    <div>{{this.precio}}$</div>
                </div>
                <p>{{this.nombre}}</p>
            </div>
        </a>
    </div>
    {{/each}}
</div>

<div id="whoWeAre">
    <div>
        <h2>QUIENES SOMOS</h2>
        <p>GeeksHubs Travels es una agencia de viajes online creada en 2009 por un equipo de viajeros entusiastas que
            deciden hacer de su pasion por conecer el mundo un modo de vida. Desde nuestros inicios hemos diseñado mas
            de 500 viajes organizados a diferentes destinos de Europa, Norteamerica y Asia. Nuestro objetivo ahora es ir
            ampliando horizontes poco a poco.</p>
        <a href="#">Descubrir</a>
    </div>
</div>

<div id='whereWeAre'>
    <div>
        <div id='mapa'>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.5618014295324!2d-0.33129428411809164!3d39.45663517948829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60490c7482cd8f%3A0x734fc040eebf5d78!2sGeeksHubs+Valencia!5e0!3m2!1ses!2ses!4v1559288015769!5m2!1ses!2ses"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div id='contacto'>
            <div id='datos'>
                <p>E: enquiry@artiotravel.com</p>
                <p>P: 0264 123 4567</p>
                <p>Give us a call or drop by anytime, we endavuor to answer all enquires within 24 hours on business
                    days.</p>
                <p>We are open from 8,30 AM - 4.00 PM week days</p>
            </div>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Email</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Password</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPhone">Email</label>
                        <input type="number" class="form-control" id="inputPhone" placeholder="Telefono">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCountry">Password</label>
                        <input type="text" class="form-control" id="inputCountry" placeholder="Pais">
                    </div>
                </div>
                <div class="form-mensaje">
                    <label for="inputMensaje">Address 2</label>
                    <textarea name="inputMensaje" id="xD" cols="30" rows="10" placeholder="Mensaje"></textarea>
                </div>
                <p>* PLEASE COMPLETE ALL FIELDS CORRECTLY</p>
                <button type="submit" class="btnNormal">Sign in</button>
            </form>
        </div>
    </div>
</div>